.card-pro {
    border-radius: 12px;
    max-width: 300px;

}


.img-pro {
    background-color: var(--bg-color);
    width: 100%;
    padding: 20px;
    height: 15rem;
    border-radius: 12px 12px 0 0;
    margin-bottom: 10px;
}

.icon-container {
    position:relative
}

.icon-card-cart, .icon-card-heart {
    background-color: white;
    width: fit-content;
    border-style: hidden;
    padding: 10px;
    border-radius: 50%;
    color: rgb(141, 141, 141);
    box-shadow: 0 0 12px rgb(15, 106, 180);
    position: absolute;
    /* font-weight: bold; */
    top: -10px; /* Adjust position */
}

.icon-card-heart {
    right: 5px;
    top: -245px;
}

.icon-card-cart {
    right: 5px;
    top: -50px;
}

.price {
    font-weight: bold;
}

/* Add hover effects */
.icon-card-heart:hover, .icon-card-cart:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
