
.img-content{
    border-radius: 45%;
    height: 80px;
    width: fit-content;
    background-color: var(--bg-color);

}

.text-card{
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: large; */
}