:root{
  --secondary-colour: #98a2f1;
  --star-colour: hsl(38 90% 55%);
  --bg-color:rgba(0, 0, 0, 0.1)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:rgba(59, 130, 246, .5) !important; */
  
  /* background: radial-gradient(circle, rgba(0, 44, 73, 0.1) 0%, #eee 90%); */
  background: radial-gradient(ellipse at center, rgba(0, 44, 73, 0.1) 0%, #ffffff 90%);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

